VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key

VITE_APP_URL=your_app_url

RESEND_API_KEY=your_resend_api_key

VITE_STRIPE_STANDARD_PRICE_ID=your_stripe_standard_price_id
VITE_STRIPE_PRO_PRICE_ID=your_stripe_pro_price_id
